@import '@angular/material/prebuilt-themes/azure-blue.css';

:root {
  color-scheme: light;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #111827;
   background-color: #fcfcfc;
  /* background:
    radial-gradient(circle at top left, rgba(37, 99, 235, 0.12), transparent 28%),
    radial-gradient(circle at top right, rgba(15, 118, 110, 0.08), transparent 26%),
    linear-gradient(180deg, #f8fafc 0%, #eef2ff 46%, #f8fafc 100%); */
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

.mat-mdc-card {
  background-color: #f1f5f9 !important;
}

.mat-mdc-card-header {
  margin-bottom: 1rem;
}
